<!DOCTYPE html>
<main>
    <head>
        <title>Lift Logger | Friends</title>

        <%- include head.ejs %>
    </head>
    <body>
        <%- include header.ejs %>

        <%- include footer.ejs %>
    </body>
</main>