<!DOCTYPE html>
<main>
    <head>
        <title>SHARE | Home</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <%- include header.ejs %>
          
        <% if(locals.classInfo) { %>
            <div style="display: none;" id="class-info"><%=classInfo%></div>
        <% } %>

        <!-- contents -->
        <div class="panel-div">
            <h1 style="margin-bottom: 0;">
                Your Schedule
            </h1>
            <h3>
                for the next week
            </h3>
            <table id="calendar">
                <tr>
                    <th></th> <!-- time label column -->
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                    <th class="cal-header"></th>
                </tr>
            </table>
        </div>
        
        <%- include footer.ejs %>
    </body>
    <script>
        var daysofweek = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];

        // fill calendar cells
        var cal = document.getElementById("calendar");

        // days of week
        var headers = document.getElementsByClassName("cal-header");
        var today = new Date();
        var day = today.getDay();
        for(var d = 0; d < 7; d++){
            headers[d].innerText = daysofweek[(day + d) % 7];
        }

        // hours of day
        var sTime = timeToMinutes(/*0700*/700), eTime = timeToMinutes(1700); // calendar start/end times    <--- Very Importante!
        var timeDiv = 4; // how many time divisions per hour (4 = 15 min, 2 = 30 min, etc.)                 <--- Very Importante!
        for(var r = 0; r <= timeDiv * Math.round((eTime - sTime) / 60); r++){
            var row = document.createElement("tr");

            // time label
            var tLabel = document.createElement("td");
            if(r % timeDiv == 0){
                var time = sTime + (r / timeDiv) * 60; // in minutes since 12 am
                tLabel.innerText = formatTime(minutesToTime(time));
                tLabel.setAttribute("class", "time-label");
            }
            row.appendChild(tLabel);

            // days of week for this time
            for(var c = 0; c < 7; c++){
                var cell = document.createElement("td");
                cell.setAttribute("id", "cal-" + r + "-" + c) // give each cell unique id for later access
                row.appendChild(cell);
            }
            cal.appendChild(row);
        }

        // fill in class/schedule blocks in calendar
        function updateCalendar(){
            var classInfoCont = document.getElementById("class-info");

            if(classInfoCont == null)
                return;

            // parse info from string format
            var classes = classInfoCont.innerHTML.split("|");
            for(var i = 0; i < classes.length; i++){
                var info = classes[i].split(" ");
                var name = info[0],
                    days = Integer.parseInt(info[1]), // shift register for days this class convenes
                    start_time = timeToMinutes(Integer.parseInt(info[2])),
                    end_time = timeToMinutes(Integer.parseInt(info[3])),
                    instructor = info[4];
                
                // should round times here...
                //start_time = 100 * Math.round(start_time / (100 / timeDiv));

                var rStart = (start_time - sTime) / (60 / timeDiv);
                var rEnd = (end_time - sTime) / (60 / timeDiv);
                for(var shift = 0; shift < 7; shift++){ // shift to mask out for daysofweek byte, also, it's the day of the week
                    if((days >> shift) & 1){
                        for(var r = rStart; r <= rEnd; r++){
                            var cell = document.getElementById("cal-" + r + "-" + ((shift + day) % 7));
                            cell.style.backgroundColor = "purple";
                            cell.style.color = "white";
                            if(r == rStart) cell.innerText = name + "\n" + instructor; // only include class info in head cell
                        }
                    }
                }
            }
        }
        updateCalendar();

        // convert # of minutes since 12 am to raw integer time (24hr-ish)
        function minutesToTime(m){
            return (m / 60) * 100 + (m % 60);
        }

        // convert raw integer time (24hr-ish) to # of minutes since 12 am
        function timeToMinutes(t){
            return (t / 100) * 60 + (t % 100);
        }

        // convert raw integer time (24hr-ish) to string formatted
        function formatTime(time){
            // 12 hr clock format
            if(true){
                var period = "AM";
                if(time >= 1200){
                    time -= 1200;
                    period = "PM";
                }
                var h = time / 100;
                var m = time % 100 > 100 ? time % 100 : "0" + (time % 100);
                return (h == 0 ? 12 : h) + ":" + m + " " + period;
            
            // 24 hour time format
            }else{
                var h = time >= 1000 ? time / 100 : "0" + time / 100;
                var m = time % 100 > 100 ? time % 100 : "0" + (time % 100);
                return "" + h + m;
            }
        }

        // display or hide tooltip
        function triggerTooltip(button, id, visible){
            var tooltip = document.getElementById(id);
            if(visible){
                var box = button.getBoundingClientRect();
                tooltip.style.display = "block";
                var xoffset = window.pageXOffset || document.documentElement.scrollLeft; // for calculating absolute pos on screen
                var yoffset = window.pageYOffset || document.documentElement.scrollTop;
                tooltip.style.left = `${box.left + xoffset + 20}px`;
                tooltip.style.top = `${box.top + yoffset + 15}px`;
            }else{
                tooltip.style.display = "none";
            }
        }

        function toggleTooltip(button, id){
            var tooltip = document.getElementById(id);
            if(tooltip.style.display == "none"){
                var box = button.getBoundingClientRect();
                tooltip.style.display = "block";
                var xoffset = window.pageXOffset || document.documentElement.scrollLeft; // for calculating absolute pos on screen
                var yoffset = window.pageYOffset || document.documentElement.scrollTop;
                tooltip.style.left = `${box.left + xoffset + 20}px`;
                tooltip.style.top = `${box.top + yoffset + 15}px`;
            }else{
                tooltip.style.display = "none";
            }
        }

        function formatDate(date){
            return months[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear();
        }
    </script>
</main>