<!DOCTYPE html>
<main>
    <head>
        <title>Lift Logger | Login</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <%- include header.ejs %>
        
        <!-- login page -->
        <form action="/login" method="POST">
            <h2>
                Login
            </h2>
            <h3>
                to your account
            </h3>
            <h4>
                or <a href="/register"><u>register</u></a> an account
            </h4>
            <div class="inputs">
                <label for="uname">username: </label>
                <input type="text" required="true" placeholder="username" name="username" id="uname">
                <% if(locals.loginMessage && loginMessage == "inv_uname") { %>
                    <span class="message"><i class="fas fa-exclamation-circle"></i>&nbsp;Invalid Username</span>
                <% } %>
                <br>
                
                <label for="pswrd">password: </label>
                <input type="password" required="true" placeholder="password" name="password" id="pswrd">
                <% if(locals.loginMessage && loginMessage == "inc_pswrd") { %>
                    <span class="message"><i class="fas fa-exclamation-circle"></i>&nbsp;Incorrect Password</span>
                <% } %>
                <br>
            </div>
            <br>
            <button type="submit">Login</button>
        </form>

        <%- include footer.ejs %>
    </body>
</main>