<!DOCTYPE html>
<main>
    <head>
        <title>Lift Logger | Privacy</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <%- include header.ejs %>
        
        <!-- privacy statement -->
        <div class="para">
            <b style="font-size: 30px;">Privacy</b><br>
            We take your privacy seriously and limit the amount of information we collect.
            We store and use your<br>
            <ul>
                <li>Username</li>
                <li>Password</li>
                <li>Email Address</li>
                <li>Body Weight <i>(optional)</i></li>
                <li>Lift Data</li>
            </ul>
            Some of the best security measures are used to protect your data. However,
            the best way to protect your privacy is to not put out what you don't
            want us - or others - to know!
        </div>

        <%- include footer.ejs %>
    </body>
</main>