<!DOCTYPE html>
<main>
    <head>
        <title>SHARE | Suggestions</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <%- include header.ejs %>
        
        <div class="para">
            <b style="font-size: 30px;">Suggestions</b><br>
            halp
        </div>

        <%- include footer.ejs %>
    </body>
</main>