<!DOCTYPE html>
<main>
    <head>
        <title>Lift Logger | Suggestions</title>

        <%- include head.ejs %>
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <%- include header.ejs %>
        
        <div class="para">
            <b style="font-size: 30px;">Suggestions</b><br>
            Please send any suggestions for improvements for LiftLogger to: suggestions@liftlogger.com<br>
            If you find any bugs with LiftLogger, please report them to: bugs@liftlogger.com<br>
            We value your opinion. Thank you for contributing to the project!
        </div>

        <%- include footer.ejs %>
    </body>
</main>